    <div class="sidenav_heading" align="center">
        Application Modernization
    </div>
    <div class="col-12">
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn align-items-center rounded">
                    About / Overview</button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle align-items-center rounded collapsed"
                    data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    Use cases List
                </button>
                <div class="collapse" id="dashboard-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-dark rounded">Application Containerization</a></li>
                        <li><a href="#" class="link-dark rounded">Application Containerization with
                                Devsecops Cluster</a></li>
                        <li><a class="link-dark rounded" routerLink="/event-driven">Event Driven Architecture</a></li>
                        <li><a href="#" class="link-dark rounded">Monolithic to Micro service</a></li>
                        <li><a href="#" class="link-dark rounded">Application Microservice Development</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="mb-1">
                <button class="btn align-items-center">
                    Documentation
                </button>

            </li>

        </ul>
    </div>
