<header id="header" class="container">
    <div class="col-12 row">
        <div class="col-4"> <a href="#"><img src="/assets/images/hpe-logo-blk.png" width="auto" height="65"
                    alt="" /></a>
        </div>
        <div class="col-6 mt-3">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item"><a  class=" top_links" routerLink="/home">HOME</a></li>                      
                <li class="list-group-item"><a  class="top_links" routerLink="/modernization">APP MODERNIZATION</a></li>
                <li class="list-group-item"><a href="text.html" class="top_links">TEXT</a></li>
                <li class="list-group-item"><a href="vision.html" class="top_links">VISION</a></li>
                <li class="list-group-item">CLASSIC ML</li>
                <li class="list-group-item"><a href="http://localhost:4500/" class="top_links">Login</a></li>
            </ul>
        </div>
        <div class="col-2 mt-4" align="right">
            <img src="/assets/images/Slice 12.png" width="26" height="26" alt="" />
        </div>
    </div>
</header>