

<footer>
    <div id="footer">
        <div class="col-12 mt-3">
            <div class="col-12" align="center">© Copyright 2022 Hewlett Packard Enterprise Development LP</div>
            <div class="col-12" align="center">Privacy | Terms of Use | Ad Choices & Cookies | Do Not Sell My Personal
                Information | Sitemap</div>
        </div>
        <div align="center" class="col-12 mt-4"><img src="/assets/images/hpe_element_rgb.svg" width="88" height="25"
                alt="" />
        </div>
    </div>
</footer>